@charset "UTF-8";

.center {
	margin-left: auto;
	margin-right: auto;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-lg {
	font-size: 150%;
}

.padding {
	padding: 25px;
}

.padding-sm {
	padding: 5px;
}

.checkbox {
	cursor: default;
    appearance: checkbox;
    box-sizing: border-box;
    padding: 0;
    
}